@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animasi Perpindahan Halaman */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(5px);
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}